/*selector{
    property:value;
}*/
*{
    padding: 0;
    margin: 0;
}

header{
    color: whitesmoke;
    nav{
        background-color: palevioletred;
    }
}

body{
    background-color: rgb(63, 59, 59)
}

nav ul li {
    list-style-type: none;
    li{
        padding: 40px 200px 40px 20px;
        text-align: center;
    
    }
}

img, frame{
    width: 100%;
}
p{
    font-style: italic;
    background-color: rgb(233, 196, 208);
    text-align: center;
    line-height: 1cm;
    font-size: 16px;
    h1{
        text-align: center;
    
    }
}

.parrafo{
    font-size: large;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#span{
    font-size: xx-large;

}

/* inicio de productos*/
.image{
    background-image: url("../imagenes/pan1.jpeg")
}

/*Box model*/
h1{
    padding: 71px;
    padding-left: 55px;
    border-style: dashed;
    text-align: center;
}
div{
border-style: solid;
border-color: rosybrown;
}
footer{
    text-align: center;
}

article{
    text-align: center;
}
.padre{
    justify-items: center;
    align-content: space-between;
    width: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    grid-template-areas:
    "foto1 foto2"
    "foto3 foto4"
    ;
}

h1{
    color: rgb(238, 183, 201);
}

.foto5{
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
}
.foto6{
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr;
}

.footerItem{
    background-color: pink;
    border: 1px solid pink;
    height: 200px;
    flex: 1;
}

@media only screen and (max-width: 425px){
    nav{
        background-color: pink;
    }

     .padre{
         display: grid;
         grid-template-columns: 1fr ;
         grid-template-rows: 6fr;
         grid-template-areas:
         "foto1"
         "foto2"
         "foto3"
         "foto4"
         ;
     }

}

@media only screen and (min-width: 800px){
    nav{
        background-color: palevioletred;
    }

     .padre{
         display: grid;
         grid-template-columns: 1fr ;
         grid-template-rows: 6fr;
         grid-template-areas:
         "foto1"
         "foto2"
         "foto3"
         "foto4"
         ;
     }
}
section{ background-color: antiquewhite;

}